#frontend

frontend/node_modules/
frontend/.next/
frontend/package-lock.json
frontend/tsconfig.tsbuildinfo
frontend/.idea/

#backend

backend/.idea/

#secrets

secrets/
kubernetes/db/secrets.yaml
kubernetes/frontend/secrets.yaml
